[Service]
Environment=kubelet_name=kubelet
Environment=kubelet_image={{ $HyperkubeImage }}:{{ $HyperkubeTag }}
EnvironmentFile=/usr/share/oem
ExecStartPre=docker pull ${kubelet_image}
ExecStartPre=-docker rm ${kubelet_name}
ExecStart=docker run \
  -it \
  --net=host \
  --name ${kubelet_name} \
  --hostname ${kubelet_name}.$(hostname) \
  ${kubelet_image} \
  /kubelet \
  --api-servers=https://{{ $APIServerHostname }}:443 \
  --register-schedulable=false \
  --container-runtime=docker \
  --allow-privileged=true \
  --pod-manifest-path=/usr/share/oem/manifests \
  --cluster_dns={{ $ClusterDNS }} \
  --cluster_domain={{ $RootDomain }}
ExecStop=-/usr/bin/docker stop ${kubelet_name}
ExecStop=-/usr/bin/docker rm ${kubelet_name}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target